#content {
  /*margin-left: 100px;
  margin-top: 100px;*/
  padding: 10px;
  position: absolute;

  border: 1px dashed black;
  overflow: hidden;     
}

#cashRegister {
  width: 360px;
}

.display {
  margin-bottom: 10px;
}

.display .userInput {
  float: left;

  height: 30px;
  width: 190px;

  padding: 0 9px;

  border: 1px solid black;

  margin-right: 5px;
  text-align: right;
  line-height: 30px;

  white-space: nowrap;
  direction: rtl;
}

.display .reset {
  float: right;
}

.display, .keys {
  overflow: hidden;
}

/* Applying style to keys */
.display span, .keys span {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: pointer;

  float: left;
  position: relative;
  top: 0;

  width: 65px;
  height: 30px;

  border: 1px solid black;

  margin: 0 5px 10px 0;

  line-height: 30px;
  text-align: center;

}

.keys span.option {
  margin-right: 0;
}

.option {

}